.containerMarket{
    background-image: url('./background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.containerContent{
    display: flex;
    height: 100%;
    justify-content: space-between;
}



.containerCards { 
    padding-inline: 52px;
    padding-block: 35px;

    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.containerBody{
    margin-block-start: 100px;
}

.containerPaginator button{
    background-color: white !important;
}

.containerPaginator a:hover{
    background-color: rgb(137, 137, 137) !important;
    border-radius: inherit;
}

.containerPaginator{
    margin-block-end: 35px;
}